.step-active {
  background-color: #3B4659;
}

.step-all {
  background-color: #EEEEEE;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 0.125rem solid #3B4659;
  border-radius: 2rem;
  background-color: #3B4659;
  color: #fff;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2;
}

.btn-solid-reg:hover {
  cursor: pointer;
	background-color: #EEEEEE;
	color: #3B4659;
	text-decoration: none;
}

.preview {
  white-space: pre-line;
}